USE [S.U.T.U.R_Krsic]
GO
/****** Object:  Table [dbo].[korisnici]    Script Date: 11/15/2019 1:08:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[korisnici](
	[korisnicki_id] [varchar](50) NOT NULL,
	[ime_korisnika] [varchar](50) NOT NULL,
	[prezime_korisnika] [varchar](50) NULL,
	[lozinka] [varchar](35) NOT NULL,
	[adresa_stanovanja] [varchar](60) NULL,
	[broj_telefona] [varchar](12) NULL,
	[email] [varchar](50) NOT NULL,
	[datum_rodjenja] [date] NULL,
	[pol] [varchar](6) NULL,
	[radna_pozicija] [smallint] NOT NULL,
 CONSTRAINT [PK_korisnici] PRIMARY KEY CLUSTERED 
(
	[korisnicki_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kreditne_kartice]    Script Date: 11/15/2019 1:08:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kreditne_kartice](
	[tip_kartice] [varchar](50) NOT NULL,
	[broj_kartice] [varchar](16) NOT NULL,
	[ime_vlasnika] [varchar](50) NOT NULL,
	[prezime_vlasnika] [varchar](50) NOT NULL,
	[datum_isteka] [varchar](5) NOT NULL,
	[CVV] [int] NOT NULL,
 CONSTRAINT [PK_CreditCard] PRIMARY KEY CLUSTERED 
(
	[CVV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[naziv_opreme]    Script Date: 11/15/2019 1:08:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[naziv_opreme](
	[id_opreme] [int] IDENTITY(1,1) NOT NULL,
	[ime] [varchar](9) NULL,
 CONSTRAINT [PK_naziv_opreme] PRIMARY KEY CLUSTERED 
(
	[id_opreme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oprema]    Script Date: 11/15/2019 1:08:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oprema](
	[id_robe] [int] IDENTITY(1,1) NOT NULL,
	[ime] [varchar](20) NOT NULL,
	[kolicina] [smallint] NOT NULL,
	[tip_robe] [int] NOT NULL,
	[cijena] [smallmoney] NOT NULL,
 CONSTRAINT [PK_oprema] PRIMARY KEY CLUSTERED 
(
	[id_robe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pozicija]    Script Date: 11/15/2019 1:08:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pozicija](
	[pozicija_id] [smallint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ime_pozicije] [char](15) NOT NULL,
	[radni_sati_po_danu] [smallint] NOT NULL,
	[satnica] [smallint] NOT NULL,
 CONSTRAINT [PK_pozicija] PRIMARY KEY CLUSTERED 
(
	[pozicija_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registracija]    Script Date: 11/15/2019 1:08:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registracija](
	[Predlozen_ID] [varchar](50) NOT NULL,
	[ime_korisnika] [varchar](50) NOT NULL,
	[prezime_korisnika] [varchar](50) NULL,
	[predlozena_lozinka] [varchar](256) NOT NULL,
	[adresa_stanovanja] [varchar](60) NULL,
	[broj_telefona] [varchar](12) NULL,
	[kontakt_email] [varchar](50) NOT NULL,
	[pol] [varchar](6) NULL,
	[radna_pozicija] [smallint] NOT NULL,
	[datum_rodjenja] [date] NULL,
 CONSTRAINT [PK_registracija] PRIMARY KEY CLUSTERED 
(
	[Predlozen_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stanje_racuna]    Script Date: 11/15/2019 1:08:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stanje_racuna](
	[CVV] [int] NOT NULL,
	[nalog] [varchar](50) NOT NULL,
	[banka] [varchar](50) NOT NULL,
	[kreditna_kartica] [varchar](50) NOT NULL,
	[novcani_iznos] [smallmoney] NOT NULL,
 CONSTRAINT [PK_Account_Balance] PRIMARY KEY CLUSTERED 
(
	[CVV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[korisnici] ([korisnicki_id], [ime_korisnika], [prezime_korisnika], [lozinka], [adresa_stanovanja], [broj_telefona], [email], [datum_rodjenja], [pol], [radna_pozicija]) VALUES (N'AmarB', N'Amar', N'Badnjevic', N'292C36B86220435947D492794CBCA50F', N'Krajiskih Brigada 11e', N'38766992224', N'amar.badnjevic@suturk.ba', CAST(N'1998-10-07' AS Date), N'Muski', 7)
INSERT [dbo].[korisnici] ([korisnicki_id], [ime_korisnika], [prezime_korisnika], [lozinka], [adresa_stanovanja], [broj_telefona], [email], [datum_rodjenja], [pol], [radna_pozicija]) VALUES (N'ElvirL', N'Elvir', N'Lovic', N'ED81030923C80480EBA59D818B87E540', N'Krajiskih Brigada 11e', N'38765420690', N'elvir.lovic@suturk.ba', CAST(N'1998-03-11' AS Date), N'Muski', 6)
INSERT [dbo].[korisnici] ([korisnicki_id], [ime_korisnika], [prezime_korisnika], [lozinka], [adresa_stanovanja], [broj_telefona], [email], [datum_rodjenja], [pol], [radna_pozicija]) VALUES (N'HarunH', N'Harun', N'Hotic', N'26A10E82C687BFBA02AFF0F59C42AC6C', N'Carice Milice 9b', N'38766404000', N'harun.hotic@suturk.ba', CAST(N'1998-12-25' AS Date), N'Muski', 4)
INSERT [dbo].[kreditne_kartice] ([tip_kartice], [broj_kartice], [ime_vlasnika], [prezime_vlasnika], [datum_isteka], [CVV]) VALUES (N'AmericanExpress', N'377333620264515', N'Emmanuel', N'Harris', N'12/25', 141)
INSERT [dbo].[kreditne_kartice] ([tip_kartice], [broj_kartice], [ime_vlasnika], [prezime_vlasnika], [datum_isteka], [CVV]) VALUES (N'MasterCard', N'5551764569770236', N'Conner', N'Salas', N'02/28', 310)
INSERT [dbo].[kreditne_kartice] ([tip_kartice], [broj_kartice], [ime_vlasnika], [prezime_vlasnika], [datum_isteka], [CVV]) VALUES (N'Visa', N'4477503358419181', N'Saige', N'Parker', N'06/19', 372)
SET IDENTITY_INSERT [dbo].[naziv_opreme] ON 

INSERT [dbo].[naziv_opreme] ([id_opreme], [ime]) VALUES (1, N'Krstovi')
INSERT [dbo].[naziv_opreme] ([id_opreme], [ime]) VALUES (2, N'Svijece')
INSERT [dbo].[naziv_opreme] ([id_opreme], [ime]) VALUES (3, N'Cvijece')
SET IDENTITY_INSERT [dbo].[naziv_opreme] OFF
SET IDENTITY_INSERT [dbo].[oprema] ON 

INSERT [dbo].[oprema] ([id_robe], [ime], [kolicina], [tip_robe], [cijena]) VALUES (1, N'Jelov krst', 150, 1, 35.0000)
INSERT [dbo].[oprema] ([id_robe], [ime], [kolicina], [tip_robe], [cijena]) VALUES (2, N'Plasticni krst', 157, 1, 40.0000)
INSERT [dbo].[oprema] ([id_robe], [ime], [kolicina], [tip_robe], [cijena]) VALUES (3, N'Aluminijumski krst', 50, 1, 120.0000)
SET IDENTITY_INSERT [dbo].[oprema] OFF
SET IDENTITY_INSERT [dbo].[pozicija] ON 

INSERT [dbo].[pozicija] ([pozicija_id], [ime_pozicije], [radni_sati_po_danu], [satnica]) VALUES (1, N'Administrator  ', 8, 22)
INSERT [dbo].[pozicija] ([pozicija_id], [ime_pozicije], [radni_sati_po_danu], [satnica]) VALUES (2, N'Vlasnik        ', 4, 60)
INSERT [dbo].[pozicija] ([pozicija_id], [ime_pozicije], [radni_sati_po_danu], [satnica]) VALUES (3, N'Menadzer       ', 6, 30)
SET IDENTITY_INSERT [dbo].[pozicija] OFF
INSERT [dbo].[registracija] ([Predlozen_ID], [ime_korisnika], [prezime_korisnika], [predlozena_lozinka], [adresa_stanovanja], [broj_telefona], [kontakt_email], [pol], [radna_pozicija], [datum_rodjenja]) VALUES (N'AmirM', N' Amir', N' Muratovic', N'Amira123', NULL, N'3876235698', N'amir.muratovic@gmail.com', N'Muški', 5, NULL)
INSERT [dbo].[registracija] ([Predlozen_ID], [ime_korisnika], [prezime_korisnika], [predlozena_lozinka], [adresa_stanovanja], [broj_telefona], [kontakt_email], [pol], [radna_pozicija], [datum_rodjenja]) VALUES (N'MarinaGovno', N' Marina', N' OceVezu', N'Govno', NULL, N'3875965856', N'marina.je.govno@gmail.com', N'Ženski', 5, NULL)
INSERT [dbo].[registracija] ([Predlozen_ID], [ime_korisnika], [prezime_korisnika], [predlozena_lozinka], [adresa_stanovanja], [broj_telefona], [kontakt_email], [pol], [radna_pozicija], [datum_rodjenja]) VALUES (N'MladenC', N' Mladen', N' Cvijic', N'Mladena123', NULL, N'3876595464', N'mladen.cvijic@gmail.com', N'Ženski', 5, NULL)
INSERT [dbo].[stanje_racuna] ([CVV], [nalog], [banka], [kreditna_kartica], [novcani_iznos]) VALUES (141, N'Emmanuel.H', N'Principal Bank Inc.', N'AmericanExpress', 100.0000)
INSERT [dbo].[stanje_racuna] ([CVV], [nalog], [banka], [kreditna_kartica], [novcani_iznos]) VALUES (310, N'Conner.S', N'Gold Credit Bancshares', N'MasterCard', 2500.0000)
INSERT [dbo].[stanje_racuna] ([CVV], [nalog], [banka], [kreditna_kartica], [novcani_iznos]) VALUES (372, N'Saige.P', N'Grand Market Trust', N'Visa', 269.0000)
ALTER TABLE [dbo].[korisnici]  WITH CHECK ADD  CONSTRAINT [FK_korisnici_korisnici] FOREIGN KEY([radna_pozicija])
REFERENCES [dbo].[pozicija] ([pozicija_id])
GO
ALTER TABLE [dbo].[korisnici] CHECK CONSTRAINT [FK_korisnici_korisnici]
GO
ALTER TABLE [dbo].[oprema]  WITH CHECK ADD  CONSTRAINT [FK_oprema_naziv_opreme] FOREIGN KEY([tip_robe])
REFERENCES [dbo].[naziv_opreme] ([id_opreme])
GO
ALTER TABLE [dbo].[oprema] CHECK CONSTRAINT [FK_oprema_naziv_opreme]
GO
ALTER TABLE [dbo].[registracija]  WITH CHECK ADD  CONSTRAINT [FK_registracija_pozicija] FOREIGN KEY([radna_pozicija])
REFERENCES [dbo].[pozicija] ([pozicija_id])
GO
ALTER TABLE [dbo].[registracija] CHECK CONSTRAINT [FK_registracija_pozicija]
GO
ALTER TABLE [dbo].[stanje_racuna]  WITH CHECK ADD  CONSTRAINT [FK_stanje_racuna_kreditne_kartice] FOREIGN KEY([CVV])
REFERENCES [dbo].[kreditne_kartice] ([CVV])
GO
ALTER TABLE [dbo].[stanje_racuna] CHECK CONSTRAINT [FK_stanje_racuna_kreditne_kartice]
GO
