USE [master]
GO
/****** Object:  Database [Oprema]    Script Date: 12.6.19 15:20:49 ******/
CREATE DATABASE [Oprema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Oprema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS02\MSSQL\DATA\Oprema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Oprema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS02\MSSQL\DATA\Oprema_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Oprema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Oprema]
GO
/****** Object:  Table [dbo].[Cvjece]    Script Date: 12.6.19 15:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cvjece](
	[Naziv] [char](15) NOT NULL,
	[Sifra] [char](3) NOT NULL,
	[Kolicina] [tinyint] NOT NULL,
	[Cijena] [smallmoney] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Krstovi]    Script Date: 12.6.19 15:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Krstovi](
	[Naziv] [char](15) NOT NULL,
	[Sifra] [char](3) NOT NULL,
	[Kolicina] [smallint] NOT NULL,
	[Cijena] [smallmoney] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prevoz]    Script Date: 12.6.19 15:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prevoz](
	[Naziv] [char](15) NOT NULL,
	[Sifra] [char](3) NOT NULL,
	[Kolicina] [tinyint] NOT NULL,
	[Cijena] [smallmoney] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sanduci]    Script Date: 12.6.19 15:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sanduci](
	[Naziv] [char](15) NOT NULL,
	[Sifra] [char](3) NOT NULL,
	[Kolicina] [tinyint] NOT NULL,
	[Cijena] [smallmoney] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Svjece]    Script Date: 12.6.19 15:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Svjece](
	[Naziv] [char](15) NOT NULL,
	[Sifra] [char](3) NOT NULL,
	[Kolicina] [tinyint] NOT NULL,
	[Cijena] [smallmoney] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
