USE [master]
GO
/****** Object:  Database [Payment]    Script Date: 4/18/2019 3:20:34 PM ******/
CREATE DATABASE [Payment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Payment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Payment.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Payment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Payment_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Payment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Payment]
GO
/****** Object:  Table [dbo].[Account_Balance]    Script Date: 4/18/2019 3:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account_Balance](
	[CVV] [int] NOT NULL,
	[Account] [varchar](50) NOT NULL,
	[Bank] [varchar](50) NOT NULL,
	[Card] [varchar](50) NOT NULL,
	[Money] [smallmoney] NOT NULL,
 CONSTRAINT [PK_Account_Balance] PRIMARY KEY CLUSTERED 
(
	[CVV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CreditCard]    Script Date: 4/18/2019 3:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CreditCard](
	[CardType] [varchar](50) NOT NULL,
	[CardNumber] [smallint] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[ExpirationDate] [varchar](5) NOT NULL,
	[CVV] [int] NOT NULL,
 CONSTRAINT [PK_CreditCard] PRIMARY KEY CLUSTERED 
(
	[CVV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
